PORT=5000
CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key

CORS_ORIGIN=http://localhost:3000

GOOGLE_AI_STUDIO_API_KEY=your_google_ai_studio_api_key

POSTGRES_USER=your_postgres_user # Docker Compose will create a user with this name in the Postgres container
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db_name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL="postgresql://your_postgres_user:your_postgres_password@localhost:5432/your_postgres_db_name?schema=public"